
div#istructions_div{
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
	text-align: center;
	font-family: "Lucida Grande", monospace;
}

div#configuration_div{
	position: relative;
	float: left;
	width: 100%;
	height: 400px;
}

/*
 * 		Sezione spine
 */

div#plugs{
	width: 400px;
	height: 160px;
	position: relative;
	background: url(../images/base_spine.png) center;
}

.plug_place_top{
	width: 16px;
	height: 38px;
	margin-top: 26px;
	margin-left: 24px;
	position: relative;
	float: left;
}

.plug_place{
	width: 16px;
	height: 40px;
	margin-left: 24px;
	position: relative;
	float: left;	
}

/*
 *		Sezione configurazione lettere rotori
 */
div#rotors_letter_base{
	position: relative;
	float: left;
	width: 400px;
	height: 150px;
	background: url(../images/rotors_letter_base.png);
}

div#rotor_letter_up_1{
	position: relative;
	float: left;
	margin-left: 90px;
	margin-top: 20px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_up.png);
	
}

div#rotor_letter_up_2{
	position: relative;
	float: left;
	margin-top: 20px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_up.png);
}

div#rotor_letter_up_3{
	position: relative;
	float: left;
	margin-top: 20px;
	margin-right: 167.5px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_up.png);
}

div#rotor_letter_down_1{
	position: relative;
	float: left;
	margin-left: 90px;
	margin-top: 10px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_down.png);
}

div#rotor_letter_down_2{
	position: relative;
	float: left;
	margin-top: 10px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_down.png);
}

div#rotor_letter_down_3{
	position: relative;
	float: left;
	margin-top: 10px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_down.png);
}

div#rotor_letter_1{
	position: relative;
	float: left;
	margin-left: 90px;
	height: 50px;
	width: 47.5px;
}

div#rotor_letter_2{
	position: relative;
	float: left;
	height: 50px;
	width: 47.5px;
}

div#rotor_letter_3{
	position: relative;
	float: left;
	margin-right: 167.5px;
	height: 50px;
	width: 47.5px;
}

.letter_text{
	text-align: center;
	font-family: "Lucida Grande", monospace;
}

/*
 * 		Sezione alloggiamento rotori
 */
div#rotors_hole_div{
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
	/*margin-top: 15px;*/
}

div#rotors_hole{
	position: relative;
	width: 400px;
	height: 150px;
	background: url(../images/rotors_hole.png);
}

div#rotor_hole_1{
	position: relative;
	float: left;
	width: 47.5px;
	height: 100px;
	margin-left: 90px;
	margin-top: 25px;
}

div#rotor_hole_2{
	position: relative;
	float: left;
	width: 47.5px;
	height: 100px;
	margin-top: 25px;
}

div#rotor_hole_3{
	position: relative;
	float: left;
	width: 47.5px;
	height: 100px;
	margin-top: 25px;
}

/*
 * 		Sezione contenitore rotori
 */
div#rotors_container_div{
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
}

div#rotors_container
{
	position:relative;
	float: left;
	height: 100px;
	width: 260px;	
	margin-top: 50px;
	border: 1px solid red;
}

div#rotor_container_1{
	position: relative;
	float: left;
	width: 40px;
	height: 100px;
	margin-left: 10px;
	border: 1px dotted black;
}

div#rotor_1{
	position: relative;
	width: 40px;
	height: 100px;
	background: url(../images/rotors/rotor_1.png);
	z-index: 2;
}

div#rotor_container_2{
	position: relative;
	float: left;
	width: 40px;
	height: 100px;
	margin-left: 10px;
	border: 1px dotted black;
}

div#rotor_2{
	position: relative;
	width: 40px;
	height: 100px;
	background: url(../images/rotors/rotor_2.png);
	z-index: 2;
}

div#rotor_container_3{
	position: relative;
	float: left;
	width: 40px;
	height: 100px;
	margin-left: 10px;
	border: 1px dotted black;
}

div#rotor_3{
	position: relative;
	width: 40px;
	height: 100px;
	background: url(../images/rotors/rotor_3.png);
	z-index: 2;
}

div#rotor_container_4{
	position: relative;
	float: left;
	width: 40px;
	height: 100px;
	margin-left: 10px;
	border: 1px dotted black;
}

div#rotor_4{
	position: relative;
	width: 40px;
	height: 100px;
	background: url(../images/rotors/rotor_4.png);
	z-index: 2;
}

div#rotor_container_5{
	position: relative;
	float: left;
	width: 40px;
	height: 100px;
	margin-left: 10px;
	border: 1px dotted black;
}

div#rotor_5{
	position: relative;
	width: 40px;
	height: 100px;
	background: url(../images/rotors/rotor_5.png);
	z-index: 2;
}