/*
 * 		configuration.css
 * 		Stile degli elementi riguardanti la configurazione della macchina Enigma
 */
/*
 * 		Sezioni principali della pagina
 */
div#istructions_div{
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
	text-align: center;
	font-family: "Lucida Grande", monospace;
}

div#configuration_div{
	position: relative;
	float: left;
	width: 100%;
	height: 400px;
}
/*
 * 		Elementi di configurazione delle spine
 */
div#plugs{
	width: 400px;
	height: 160px;
	position: relative;
	background: url(../images/base_spine.png) center;
}

.plug_place_top{
	width: 16px;
	height: 38px;
	margin-top: 26px;
	margin-left: 24px;
	position: relative;
	float: left;
}

.plug_place{
	width: 16px;
	height: 40px;
	margin-left: 24px;
	position: relative;
	float: left;	
}
/*
 *		Elementi di configurazione lettere dei rotori
 */
div#rotors_letter_base{
	position: relative;
	float: left;
	width: 400px;
	height: 150px;
	background: url(../images/rotors_letter_base.png);
}

.section{
	position: relative;
	float: left;
	padding-left: 90px;
	width: 400px;
	height: 50px;
}

.arrow_up{
	position: relative;
	float: left;
	margin-top: 20px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_up.png);
}

.arrow_down{
	position: relative;
	float: left;
	margin-top: 10px;
	height: 25px;
	width: 47.5px;
	background: url(../images/arrows/letter_down.png);
}

.letter{
	position: relative;
	float: left;
	height: 50px;
	width: 47.5px;
}

.letter_text{
	text-align: center;
	font-family: "Lucida Grande", monospace;
}
/*
 * 		Elementi di configurazione dei rotori
 */
div#rotors_hole_div{
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
}

div#rotors_hole{
	position: relative;
	width: 310px;
	height: 125px;
	padding-left: 90px;
	padding-top: 25px;
	background: url(../images/rotors_hole.png);
}

.rotor_hole{
	position: relative;
	float: left;
	width: 47.5px;
	height: 100px;	
}

div#rotors_container_div{
	position: relative;
	float: left;
	width: 100%;
	height: 200px;
}

div#rotors_container
{
	position:relative;
	float: left;
	height: 100px;
	width: 260px;	
	margin-top: 50px;
	border: 1px solid red;
}

div#rotor_1{
	background: url(../images/rotors/rotor_1.png);
}

div#rotor_2{
	background: url(../images/rotors/rotor_2.png);
}

div#rotor_3{
	background: url(../images/rotors/rotor_3.png);
}

div#rotor_4{
	background: url(../images/rotors/rotor_4.png);
}

div#rotor_5{
	background: url(../images/rotors/rotor_5.png);
}

.rotor_container{
	position: relative;
	float: left;
	width: 40px;
	height: 100px;
	margin-left: 10px;
	border: 1px dotted black;
}

.rotor{
	position: relative;
	width: 40px;
	height: 100px;
	z-index: 2;
}
